<%- include('../partials/head') %>
        <main>
            <div>
                <h1>Post # <%= post.rows[0].postnumber %> </h1>
                <h2> <%= post.rows[0].title %></h2>
                <p>
                    <%= post.rows[0].body %>
                </p>
            </div>
        </main>
<%- include('../partials/footer') %>

